@font-face {
  font-family: myFirstFont;/*紀念第一個放入的字體 XD*/
  src: url(../font/wt064.ttf);
}
.cintainer{
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    margin: 20px;

  }
  /*大標*/
  .ct-1{
    /*
    height: 100px;
    */
    font-family:"myFirstFont","微軟正黑體", sans-serif !important;

    box-sizing: border-box;
    padding: 40vh 0;

    height: 100vh;
  }
  .title_font{
    font-family:"myFirstFont","微軟正黑體", sans-serif ;
    margin: 10px;
  }
  .ct-1 h2{     
    text-align: center;
    color: white;
   /* position:relative;
    top:50px;   */       
  }
  .ct-1 h1{     
    color: white;
    text-align: center;
    margin: 10px;
   /* position:relative;
    top:50px;   */       
  }
  /*計時器*/
  .timer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .time{
    text-align: center;
    font-size: 25px;
    margin: 5px;
    box-sizing: border-box;
    padding: 20px 0 0 0;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display:block;
      background: #ffffff;
  }   
  /*ct-2*/
  .ct-2_in {
    background-color: aquamarine;
    float: left;
    width: 50%;
    padding: 50px;
  }

  /*ct-4*/
  .Sing_up_information{
    display:grid;
    justify-content:center;
    grid-template-columns: 330px 330px ;
    gap: 5vw;
    padding: 10px;
    font: 15px;
  }
  .information{
    background-color:rgb(248, 244, 220);
    height: 440px;
    border: 1px solid;
  }
  .Sing_up_information h2{
    margin: 20px
  }
  .information > div{
    text-align:left;
    padding: 5px 5px;

  }
  .information > div > div{
    text-align: left;
  } 
  .sign_up{
    border: 1px solid;
    height: 440px;

    background-color:rgb(248, 244, 220);

  }
  #SignUp-link{
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(247, 16, 16);
  }
  #SignUp-link:hover{
    background-color: rgb(238, 138, 138);
  }
  @media screen and (max-width:765px){
    .Sing_up_information{
      display:grid;
      justify-content:center;
      grid-template-columns: 270px;
      gap: 5vw;
      padding: 10px;

    } 
    .sign_up{
      border: 1px solid;
      height: 390px;
  
      background-color:rgb(248, 244, 220);
  
    }
    .information{
      background-color:rgb(248, 244, 220);
      height: 390px;
      border: 1px solid;
    }
   }


  /*ct-5*/  
  .ct-5 div{
    /*background-color: darkgray;
    border: 1px solid;*/
    margin-bottom: 50px;
    padding: 20px 0 0 0;
  }
  img[alt="organizet"]{
    width: 250px;
  }
  .co-organizet-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .co-organizet{       
    display: block;
    /*border: 1px solid;*/
    box-sizing:border-box;
    width: 250px;
  }
  .co-organizet img{
    width: 150px;
  }
  img[alt="organizet"]{
    width: 150px;
  }

@media screen and (max-width:765px){
    .co-organizet-all{
    display: flex;
    flex-direction: column;   
    }
    .co-organizet{ 
      display: block;
      /*border: 1px solid;*/
      box-sizing:border-box;
      width: 100%;
    }
   .timer{
    display: flex;
    flex: 1;
    justify-content: space-around;
    }
    .time{
        text-align: center;
        font-size: 15px;
        margin: 5px;
        width: 50px;
        height: 50px;
        padding: 5px 0;

        border-radius: 40px;
        display:block;
        background: #ffffff;
    }
    .ct-1 h1{     
        font-size: 45px;
        text-align: center;
    /* position:relative;
        top:50px;   */       
    }
}