*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"微軟正黑體", sans-serif;
}
body{
    background:rgb(254, 246, 234);
}



.bottom{
    position: absolute;
    bottom: 100px;
}
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color:rgb(254, 246, 234,1);
    z-index: 1;
    box-shadow: 0px 2px 5px rgb(139, 131, 118);

}
.navbar-brand{
    position: relative;
    top:-5px;
    float: left;
    margin: 0;
    padding: 0;
    align-items: center;
    color: black;
    margin: 100px 0;

}
.navbar-brand img{
    position: relative;
    top:10px;
}
.navbar-brand div{
    display: inline-block;
    margin: auto;
}
.navbar-header{
    flex: 1;
    margin-left: 2%;
    /*border: 1px solid;*/
    letter-spacing: 5px;
    font-size: 10px;
    z-index: -1;
}
.navbar-nav{
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.inlogo{
    display: none;
}
.navbar-nav a{
    color:#7d8180;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
}
.navbar-nav li{
    list-style: none;
    /*border: 1px solid;*/
}
.navbar-nav a:hover{
    color: #fe929f;
}
.maun{
    padding: 10px;
}
.maun div{
    width: 25px;
    height: 3px;
    background-color:#7d8180;;
    margin: 5px;
    transition: all 0.2s ease;
}
.navbar-brand2{
    width: 100px;
}
@media screen and (max-width:1280px){
    .navbar-nav{
        display: flex;
        justify-content: space-around;
    }

}
.maun {
    flex: 0;
    display: none;
}
@media screen and (max-width:765px){
    body{
        overflow: scroll;
    }
    .navbar-nav{
        position:absolute;
        right: 0px;
        height: 110vh;
        top: 0vh;
        background-color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        box-shadow: 0px 2px 5px rgb(212, 212, 212);/*未來如果有大陰影可以刪掉*/
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }
    .inlogo{
        display: block;
    }
    .navbar-nav li{
        opacity: 0;
    }
    .maun{
        display: block;
        cursor: pointer;
    }
    .navbar-nav a{
        color:#7d8180;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 14px;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);

}
/*內容*/


h1{
    font-size: 65px;
    font-weight: normal;
    margin: 10px;

}

h2{
    font-size: 32px;
    font-weight: normal;
  }
  .cintainer{
    padding: 20px;
    background-color: aliceblue;
    text-align: center;

}
@media screen and (max-width:765px){
    h1{
        font-size: 45px;
        font-weight: normal;
    }
    
    h2{
        font-size: 26px;
        font-weight: normal;
      }
  }
/*底部*/
footer{
    width: 100%;
    position: relative;
    height: auto;
    margin: 100px 0;
    padding: 10px 100px;
    background:rgb(255, 247, 235);
    border-top: 1px solid rgb(231, 231, 231);

}
.brand img{
    position: relative;
    top:-5px;
    float: left;
}
.brand{
    font-size: 10px;
    margin: 25px 0;
}
footer a{
    color:#7d8180;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
}
footer li{
    list-style: none;
}
footer a:hover{
    color: #fe929f;
}
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .container .company p{
    position: relative;
    margin-bottom: 15px;
}
footer .container .contact p{
    position: relative;
    margin-bottom: 15px;
}
footer .container .outlink p{
    position: relative;
    margin-bottom: 15px;
}
footer .container .inlink p{
    position: relative;
    margin-bottom: 15px;
}
.footct ul{
    margin: 10px;
}
@media screen and (max-width:765px){
    footer{
    width: 100%;
    position: relative;
    height: 10px;
    padding:10px;
    background:rgb(255, 247, 235);
    border-top: 1px solid rgb(231, 231, 231);
}
    .footct{
        float: left;
        width: 50%;
        padding-bottom: 20px;

    }
    footer .container{ 
        width: 100%;
        display: block;
    }
    .outlink{
        clear: left;
    }
}
