.ct-team{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 1vw;
    padding: 1vw;
   }

   .team{
     background-color: aqua;
     width: 31.5vw;
     height: 21vw;
     box-sizing: border-box;

    }
    footer{
      clear: both;
    }
  @media screen and (max-width:1280px){
    .ct-team{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw;
    padding: 1vw;
   }
   .team{
    background-color: aqua;
     border: 1px solid black;
     width: 47vw;
     height: 32vw;
     box-sizing: border-box;
    }
  }
   @media screen and (max-width:765px){
    .ct-team{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto ;
    gap: 1vw;
    padding: 1vw;
   }
   .team{
    background-color: aqua;
     border: 1px solid black;
     width: 93vw;
     height: 62vw;
     box-sizing: border-box;
    }
  }
  